<dialog id="confirm" class="modal">
  <div class="modal-box">
    <div id="confirm-title" class="font-bold text-lg mb-2"></div>
    <div id="confirm-body" class="py-4">
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn btn-error confirm-cancel">Yes</button>
        <button id="confirm-accept" class="btn btn-success">No</button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop confirm-cancel">
    <button>Close</button>
  </form>
</dialog>